
main.ipynb
__pycache__/chandralc.cpython-39.pyc
lcs/chandralc.py
t.ipynb
chandralc_cumulative_14 02 29.904 +54 21 18.79_5323.jpg
lcs/J140229.904+542118.79_934_lc_ascii.txt
lcs/J140229.904+542118.79_5323_lc_ascii.txt
chandralc_lightcurve_14 02 29.904 +54 21 18.79_5323_500.jpg
lcs/J140229.904+542118.79_4736_lc_ascii.txt
Untitled.ipynb
*.pyc
chandralc/.ipynb_checkpoints/convert-checkpoint.py
chandralc/.ipynb_checkpoints/__init__-checkpoint.py
chandralc/.ipynb_checkpoints/analysis-checkpoint.py
chandralc/.ipynb_checkpoints/chandra_lightcurve-checkpoint.py
chandralc/.ipynb_checkpoints/download-checkpoint.py
chandralc/.ipynb_checkpoints/ml-checkpoint.py
chandralc/.ipynb_checkpoints/plot-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
